@keyframes blur {
    0%, 100% { filter: blur(0px)}
    50% { filter: blur(5px)}
}

@keyframes hue-rotate {
    0%, 100%  { filter: hue-rotate(0deg); }
    50% { filter: hue-rotate(180deg); }
}

@keyframes grayscale {
    0%, 100% { filter:grayscale(0); }
    50% { filter:grayscale(1); }
}

@keyframes brightness {
    0%, 100%  { filter: brightness(0.9); }
    50% { filter: brightness(1.5); }
}

@keyframes saturate {
    0%, 100% { filter: saturate(2);}
    50% { filter: saturate(0); }
}

@keyframes opacity {
    0%, 100% { opacity: 0;}
    50% { opacity: 100; }
}

@keyframes rotate {
    0%, 100% { transform: rotate(0deg);}
    50% { transform: rotate(180deg); }
}

@keyframes translate {
    0%, 100% { transform: translateX(-25%);}
    50% { transform: translateX(25%);}
}


@keyframes contrast {
    0%, 100% { filter: contrast(0.8)}
    50% { filter: contrast(2)}
}

@keyframes invert {
    0%, 100% { filter: invert(0)}
    50% { filter: invert(1)}
}


