@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.max-h-l-stack {
  max-height: calc(100% - 24px);
}

div::-webkit-scrollbar {
  background-color: #262626;
}

div::-webkit-scrollbar-thumb {
  background-color: #404040;
  border-radius: 12px;
}
